[Desktop Entry]
Name=WowUp CurseForge
Exec=/usr/lib/wowup-cf/wowup-cf %u
Terminal=false
Type=Application
Icon=wowup-cf
StartupWMClass=WowUpCf
Comment=Word of Warcraft addon updater
Categories=Game;
MimeType=x-scheme-handler/wowup;
